$primaryColor: #777;
$colorHeader: #ffffff;
$bgHeader: #32353b;
$bgHeaderDays: #32353b;
$bgDay: #4d4e4f;
$colorDate: #808080;


//Colors Events
$red:  #ed4545;
$redHover:  #f05555;


$blue:  #0059f3;
$blueHover:  #1967ef;


$purple:  #5d19dc;
$purpleHover:  #4f32df;


$yellow:  #d8cc1c;
$yellowHover:  #eade31;


$green:  #00cd66;
$greenHover:  #21db7e;

$orange:  #ee6d17;
$orangeHover:  #e87a30;