*{
  box-sizing: border-box;
}
#events-calendar{
  width: 100%;
  padding: 0.75rem; 

}
 
.evtcalHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #333;
}

.evtcalButton{
  background: transparent;
  padding: 0.75rem;
  outline: none;
  border: none;
  color: aliceblue;
  font-size: 1.3rem;
}
.evtcalDay{
  display: flex;
}

.evtcalBody{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.75rem 0;
}

.evtcalRow{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0.75rem 0;
}

.evtcalRow .day{
  position: relative;
  width: 14.2857%;
  min-height: 4rem;
  background: #333;
}

.evtcalRow .day .evtcalDate{
  position: absolute;
  top: 0.25rem;
  right: 0.75rem;
  font-size: medium;
  
}